

.padding10 { padding: 10px; }
.padding20 { padding: 20px; }
.padding30 { padding: 30px; }

.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }
.top40 { margin-top: 40px; }

.footer {
  h4, p {
    text-align: center;
    font-family: "PT Sans";
  }
}

.navbar-brand {
	height: auto;
}

.list-group-image {
	img {
    cursor: pointer;
		margin-left: auto;
		margin-right: auto;
	}
}

.navbar {
	ul {
		li {
			a {
				font-family: "Oswald";
			}
		}
	}	
}
.item {
	img {
		max-height: 340px;
	}
}

.modal {
  .modal-header {
    border-bottom: 0px solid transparent;
  }

  img {    
    margin-left: auto;
    margin-right: auto;
  }
}

.pagination {
  .next {
    padding-right: 25px;
    background: {
      image: url('/assets/layout/accordion_arrow_12.png');
      repeat: no-repeat;
      position: 47px -4px;
    };
  }

  .previous {
    padding-left: 25px;
    background: {
      image: url('/assets/layout/accordion_arrow_12.png');
      repeat: no-repeat;
      position: 0px -40px;
    };
  }

}