
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }
.padding30 { padding: 30px; }

.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top20 { margin-top: 20px; }
.top40 { margin-top: 40px; }

.footer {
  h4, p {
    text-align: center;
  }
}